@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src:
    local("Roboto Mono"),
    url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Bogart";
  font-style: italic;
  src:
    local("Bogart"),
    url("/fonts/Bogart_Trial/Bogart-Italic-trial.ttf") format("truetype");
}

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-mono: "Roboto Mono", "monospace";
  --font-serif: "Bogart", "serif";
}
